.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }

.container {
    background-color: brown;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}
